<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
  </head>
</html>
<body>
  <h2>Edit <%= quote.name%></h2>
  <div>
    <p>
      <label for="name">Quote Name</label>
      <input type="text" id="name" name="name" value="<%= quote.name%>">
      <br/>
      <label for="description">Description</label>
      <output name="description"><%= quote.description%></output>
      <label for="status">Quote Status</label>
      <input type="text" id="status" name="status" value=<%= quote.status%>>
      <br/>
      <label for="locked">Is Locked ?</label>
      <input type="checkbox" id="locked" name="locked" value=<%= quote.locked%>>
      <br/>
      <label for="price">Price </label>
      <input type="number" id="number" name="number" value=<%= quote.price%>>
    </p>
  </div>
</body>