<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  </head>
</html>
<body>
  <h2>Edit <%= quote.name%></h2>
  <form>
    <input type="hidden" id="quoteId" name="quoteId" value="<%= quote._id%>">
    <div class="form-group">
      <label for="name">Quote Name</label>
      <input type="text" id="name" name="name" class="form-control" value="<%= quote.name%>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <output name="description" class="form-control"><%= quote.description%></output>
    </div>
    <div class="form-group">
      <label for="status">Quote Status</label>
      <input type="text" id="status" name="status" class="form-control" value=<%= quote.status%>>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="locked" name="locked" class="form-check-input" value=<%= quote.locked%>>
        <label for="locked" class="form-check-label">Is Locked ?</label>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price </label>
      <input type="number" id="number" name="number" class="form-control" value=<%= quote.price%>>
    </div>
  </form>
  <button class="btn btn-primary" id="saveBtn">Save</button>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/canvas-all.js"></script>
  <script src="js/index.js"></script>
  <script type="text/javascript">
    Sfdc.canvas.onReady(function (data) {
      if (data.status === 200) {
        var signedRequest = JSON.parse(Sfdc.canvas.decode(data.payload.response.split('.')[1]));
        console.log("External Canvas application recieved signed request");
        $("#saveBtn").click(function () {
          const quoteName = document.getElementById('name').value;
          const quoteStatus = document.getElementById('status').value;
          const quoteLocked = document.getElementById('locked').value;
          const quotePrice = document.getElementById('number').value;
          const quoteId = document.getElementById('quoteId').value;

          const quoteToSave = {name: quoteName,
                       status:quoteStatus,
                       locked:quoteLocked,
                       price:quotePrice,
                       quoteId:quoteId};
          });
          var saveEvent = { name: "Canvas.quoteSave", 
                            payload: quoteToSave };
          
          console.log('@@ publishing Save Event', saveEvent);
          Sfdc.canvas.client.publish(signedRequest.client, saveEvent);
      }
    });
  </script>
</body>